# Introduction to Python

### If you have any questions, you can contact me at:
- anna.ivagnes@sissa.it 

Office: A-402 (4-th floor, SISSA)

At the end of this notebook there are some exercises aimed to absolute Python beginners.

### Comments
A comment in Python starts with `#` and extends to the end of the physical line.

### Operations with numbers

Python notebooks are interactive. You can use cells as calculators. Operations work as one would expect:

In [112]:
a = 2 
print("a = ", a)
a = a + 2 #This is not an equation! The value of a is incremented 
print("a after incrementing = ", a)

a =  2
a after incrementing =  4

Python comes with many types. (You can think of a type as a particular implementation of a concept). Let's see some of them.

In [113]:
#You can query the type of a variable
print(type(a)) #integer
print(type(2.5)) #float

print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

## Strings

A string is a sequence of characters.

In [114]:
s = "this is a string"
print(s)
s2 = 'this is another string' 
print(s2)

#You can do operations supported by objects of type string. For instance, you can concatenate two strings using the + operator
print(s + " and " + s2)

this is a string
this is another string
this is a string and this is another string

You can access an element of the strings above by using the `[]` operator.

**Note:** Python uses zero-based indexing. Therefore, first element has index 0, the second has index 1, and so on.
The last element can be accessed with the index -1

In [115]:
print("s[2] = ", s[2])

s[2] =  i

In [116]:
#Let's access some other elements of the string
print("s[0] = ", s[0])
print("s[3] = ", s[3])
print("s[5] = ", s[5])

print("s[-1] = ", s[-1]) 

#What happens if you try to access element with index 20
s[20] #--> string index out of range

s[0] =  t
s[3] =  s
s[5] =  i
s[-1] =  g

IndexError: string index out of range

You can replace or extract elements in strings.

In [ ]:
# Let's try duplicated in strings
string1 = 'NA'*6
string2 = "BATMAN"
print(string1 + string2)

# Strings are immutable
#string2[2] = "R" --> TypeError: 'str' object does not support item assignment
# ... but we can use the replace() function
string2 = string2.replace('B', 'R')
print(string2)

### Strings slicing

In [ ]:
# Extract sequences
print(string2[:]) # entire list
print(string2[3:]) # from fourth to last element
print(string2[3:-1]) # indeces can be negative
print(string2[:3]) # from first to third element

We can also split a string, remove a character from it, capitalize the first word, ...

In [ ]:
print(string2.strip("N"))
print(string2.lower())
print(string2.capitalize())

We can try for example to convert a string into an integer.

In [ ]:
string_number = "10"
print(type(string_number))
number = int(string_number)
print(type(number))

### Keywords
- Python keywords cannot be used as variable names.

In [ ]:
if = 2 
#The same holds for all the other keywords

## Lists
 - implemented as *dynamic array*: elements are stored contiguously in memory, allowing for efficient iteration through the list
 - mutable
 - resizable
 - heterogeneous container (you may have objects of different types)

 There are many ways to initialize a list:

In [ ]:
l = [] #this is an empty list
print(type(l)) 
ll = list() #this is another empty list
print("ll = ", ll)

In [ ]:
#You can initialize a list "manually"
lh = [1, 2, "pippo", []]
print("lh = ", lh)

In [ ]:
#You can initalize with a range:
lr = list(range(10)) #10 not included, as before
lr[3] = 20 #change element with index 3
print("lr = ", lr)

You can query the length (i.e. the number of elements) of a list with `len()`

In [ ]:
print("The length of lr is:", len(lr))

You can use the method `append()` to add an element at the end of the list. This is something that you may need whenever you have no a-priori knowledge of the length of your list.

In [ ]:
#append an element to empty list l
print("l = ", l)
l.append("this string")
print("l after first append(): ", l)
l.append("another string")
print("l after second append(): ", l)
print("l[-1]", l[-1]) #to get the last element.

In [ ]:
#Other possible methods for a list:
l = [2, 4, 5, 67, 7, 4]
print("The number 67 has index: ",l.index(67))

# You can remove elements by index or value:
l.pop(0)
l.remove(67)
print("l after pop and remove: ", l)

#You can clear a list:
l.clear()
print("l after clear(): ",l)

There are many methods that you can play with. Have a look at the documentation of `list` and try to get familiar with it! https://docs.python.org/3/tutorial/datastructures.html

### List Slicing
 - `list[start:stop:step]` note that `[start:stop)`
 - if omitted `start==0`
 - if `stop` is omitted means till last element **included**
 - if omitted `step==1`

In [ ]:
l = [44, 5, 6, 7, 6, 7, 8, 9, 5, 4, 20]
print("Original list:", l)
start = 0
stop = 4
step = 1
print(l[start:stop])  # items start through stop-1
print(l[start:])  # items start through the rest of the list
print(l[:stop])  # items from the beginning through stop-1
print(l[:])  # a copy of the whole list
print(l[:-1])  # last element is *excluded*

### Sorting a list

- `l.sort()` sorts the list in place => original list is modified 
- `sorted(l)` returns a new list, and the original one is untouched

In [ ]:
l = [210, 2, 3, 5, 3, 2, 56, 4, 564, 3]
print("l before sorting: ", l)
l.sort() #in-place sorting. The list l is modified
print("l after sorting: ", l)

In [ ]:
l = [210, 2, 3, 5, 3, 2, 56, 4, 564, 3]
new_list = sorted(l) #returns a new list
print("original l: ", l)
print("new_list: ", new_list)

## Tuples
- immutable, cannot add or change objects after construction
- can be created in different ways
- use less space than lists

In [ ]:
#Creation from an empty tuple
t = () #empty tuple

In [ ]:
#Create a tuple manually
th = (1, 2, 4, 5, 6, 7, 4, 2, "a wild string")
print("t = ",th)

In [ ]:
#You can slice a tuple
tr = tuple(range(10))
print("tr = ", tr)
start = 0
stop = 4
step = 1
print(tr[start:stop])  # items start through stop-1
print(tr[start:])  # items start through the rest of the tuple
print(tr[:stop])  # items from the beginning through stop-1
print(tr[:])  # a copy of the tuple list
print(tr[:-1])  # last element is *excluded*

Unlike lists, tuples cannot be modified. You can see this from the error message given once the next cell is executed.

In [ ]:
#t[2] = 4 #error 'tuple' object does not support item assignment

### Packing and unpacking tuples
- Can improve readability of your code

In [ ]:
#Tuple packing
a = "Hi"
b = "everybody"
packed_tuple = (a, b) #packing a and b into the tuple t
print("packed_tuple = ", packed_tuple)

In [ ]:
#Tuple unpacking
c, d = packed_tuple
print(c)
print(d)

When you unpack, you can ignore certain elements using `_`

In [ ]:
#Let's unpack **only** the "color" elements
tcolors = ("red", "blue","snake","yellow","dog")
r,b,_,y,_ = tcolors

What if your tuple is *really* long and you want just the first 4 elements?

In [ ]:
my_long_tuple = tuple(range(10000))
a, b, c, d, *rest = my_long_tuple
#if you want to ignore them, you can also do:
e, f, g, d, *_ = my_long_tuple
print(e, f, g, d)

Creating a tuple is faster than creating a list.

In [ ]:
%timeit l = [1, 2, 3, 5, 6, 4, 5, 4, 5, 4, 6, 6] #list
%timeit t = (1, 2, 3, 5, 6, 4, 5, 4, 5, 4, 6, 6) #tuple

## Dictionaries
- unordered pairs of (keys, values)

In [ ]:
# Initialize a dictionary
city = {'name': 'Trieste', 'population': 204338}
city['population'] = 200000 # update value
city['postal_code'] = 34100 # add entry
print(city)

In [ ]:
print(city.get('name')) # print value of a specified key
print("keys: ", city.keys())
print("values: ", city.values())
print("items: ", city.items())

## The `if`, `for`, `while` statements
- `if`, `elif`, `else` 

``` python
if <condition1>:
    <body>
elif <condition2>:
    <body>
else:
    <body>
```

These are valid *Boolean expressions* that you can use
- `==`
- `!=`
- `<=`
- `>=`
- `and`
- `not`
- `or`

In [ ]:
d = 20
if (d>20):
    print("Greater than 20!")
else:
    print("Less or equal than 20!")

is_d_equal_to_20 = d==20 #this is valid! On the right, we get a boolean variable
print("is_d_equal_to_20 = ", is_d_equal_to_20)

b = True #Capital T (in C/C++ it's true)
if(b):
    print("b is true")

### Loops

* `for`
* `range([start,]stop[,step])` 

``` python
for <var> in <set_of_values>: 
    <body>
```

***Note:*** Ranges are closed on the left, and open on the right. (If you are curious: https://www.cs.utexas.edu/users/EWD/ewd08xx/EWD831.PDF)

In [ ]:
#Loop over the first ten integer numbers.
for i in range(11):
    print("i = ",i + 1)

start = 0
stop = 20
step = 2
for elem in range(start, stop, step):
    print("elem = ", elem)


``` python    
while <true_condition>:
    <body> 
```

In [ ]:
counter = 0
while(counter < 20):
    counter = counter + 1
    print("counter = ", counter)
while True:
    counter += 1
    if counter > 23:
        break
    print("counter = ", counter)

### List comprehensions
A comprehension is a Pythonic way to create data structures from one or more iterators.

Let's try with an exercise:
Given a list of strings, return the sum of all squares of the numeric strings (strings that cannot be converted to an int should not be considered in the sum)

In [4]:
mylist = ["a", 3, 7, "b", 9, 1, dict()]

# first (non-compact) way
sum_squares = 0
for el in mylist:
    if type(el)==int:
        sum_squares += el**2
print(sum_squares)

# second (compact) way
sum_squares = sum(el**2 for el in mylist if type(el)==int)
print(sum_squares)

140
140

## Functions
```python
def function_name(arg1, arg2, arg3):
    '''Documentation'''
    body of the function
```
* `return` statement is optional

In [5]:
def first_function(x):
  '''Our first function simply prints the given value.'''
  print("Your x = ", x)

first_function(20)

Your x =  20

In [6]:
help(first_function) #display the documentation of our function

Help on function first_function in module __main__:

first_function(x)
    Our first function simply prints the given value.

In [7]:
def my_string_function(s1, s2):
  return "Lab part for " + s1 + " and " + s2 + " students." #concatenation of strings

s1 = "DSSC"
s2 = "LM"
print(my_string_function(s1, s2))

Lab part for DSSC and LM students.

In [8]:
#Other simple examples
def func(x):
  x = x + 1 #increment x
  return x*x #take the square of the value just incremented


c = 20
print(func(c))

441

### Keyword and positional arguments
I can call the function `func` above in two ways:
- `func(20)` -> positional argument
- `func(x = 20)` -> keyword argument

*Positional argument* means that the argument must be provided in a correct position in a function call. 

Let's see an example:

In [ ]:
def info_about_you(name, language):
  print("Hi, I am "+ name + " and I speak " + language)

Here the order **matters**. Indeed, this makes sense:

In [117]:
info_about_you("Pluto", "german")

Hi, I am Pluto and I speak german

while this doesn't

In [118]:
info_about_you("german", "Pluto") #?!?!

Hi, I am german and I speak Pluto

- Keyword arguments are passed as a dictionary {key:value,...} (https://docs.python.org/3/tutorial/datastructures.html#dictionaries)
- With keyword arguments, the position doesn't matter:

In [119]:
info_about_you(language="english", name="Winston")

Hi, I am Winston and I speak english

We can pass any number of **positional arguments** using `*` when we define our function. The following function can take many names.

In [120]:
def many_names(*names):
  for name in names:
    print("Hi ", name)

many_names("Luca", "Daniel", "Peter", "Martin")

Hi  Luca
Hi  Daniel
Hi  Peter
Hi  Martin

In the same spirit, we can give any number of **keyword arguments** using `**`.

In [121]:
def foo(*my_positional_args, **my_keywords):
  print("my_positional_args", my_positional_args)
  print("my_keywords", my_keywords)

foo(120, 20, "Hello", my_key = "its value")

my_positional_args (120, 20, 'Hello')
my_keywords {'my_key': 'its value'}

When you have both keyword and positional arguments, **keyword arguments must be after positional ones**.
Indeed, in the next cell you'll get a *SyntaxError*. Check it.

In [122]:
foo(my_key = "its value", 120, 20, "Hello") #wrong!

SyntaxError: positional argument follows keyword argument (745457138.py, line 1)

Finally, we can set default values for the arguments. Default arguments take the default value during the function call if we do not pass them.

A typical use case is when your algorithm depends on a tolerance, say `tol`, that can be specified by an external user and you decide to set it **by default** to a specific, meaningful, value.

In [ ]:
def very_complicated_algorithm(*data, tol = 1e-12):
  print("tol = ", tol)

very_complicated_algorithm(10, 20, 30) #tol has its default value
very_complicated_algorithm(10, 20, 30, tol = 1e-15) #set tolerance to 1e-15

## Classes
A class is an extensible template for creating object, providing initial values for state (attributes) and implementations of behavior (methods). An object refers to a particular instance of a class.

`self` indicates the instantiated object. **Why?**

Because methods are called with:
``` python
<object>.<method>(arguments)
```
but the interpreter executes:
``` python
<class>.<method>(<object>, arguments)
```

In [ ]:
class Dog(object):
    species = "Canis lupus familiaris"
    
    def __init__(self, name="Pippo"):
    		self.name = name
        
    def run(self):
        print("my dog is running")

my_dog = Dog("Pluto")
your_dog = Dog()
print(my_dog.name) # object attribute
print(Dog.species) # class attribute
my_dog.run() # method

In [ ]:
# Inheriting
class Animal(object):
    def __init__(self, name="Pippo"):
        self.name = name
        
class Dog(Animal): # Dog inherites all methods and attributes from Animal
    species = "Canis lupus familiaris"
    def bau(self):
        print("Bau!")

In [ ]:
# Another example for inheriting
class Triangle(object):
    def __init__(self, l1, l2, l3):
        self.l = [l1, l2, l3]
    def perimeter(self):
        return sum(self.l)

class EquilateralTriangle(Triangle):
    def __init__(self, l):
        self.l = l
    
    def perimeter(self):
        return 3*self.l

my_tria = EquilateralTriangle(5.2)
print(my_tria.perimeter()) # 15.6

## What's next?
We will introduce Numpy, Scipy, and Matplotlib: very useful libraries built in Python.

### Exercises:

**1**) Define a string and print all the characters with even index.

**2**) Define a (non-empty) list of integers, and compute:
    - its average
    - its minimum
    - its max

**3**) Repeat the same exercise above, but wrapping everything into a function named `get_info` taking as argument a list and returning the average, the minimum and the maximum value.

**4**) Given the list `a = ["burgers", "papaya", "apple"]` use the methods `append()`, `insert()`, `pop()`, `remove()`, `index()`, `sort()` to:
    - add at the beginning of the list `"banana"`
    - remove `"apple"`
    - add at the end `"hot dog"`
    - sort the list in alphabetical order (a to z)
    - remove the last item
    - check if `"hot dog"` is in the list and find its position

**5**) Initialize a dictionary that contains the *strings* from `"0"` to `"4"` as keys and the *integers* from `0` to `4` as values, then:
    - add the pair `("5", 5)`
    - update the value of element `"0"` with the sum of all values
    - create a new dictionary in which keys and values are swapped
  
**6**) Create a new list that, given as input an integer `N` between 3 and 10, contains all the integer numbers between 1 and `N`. Then:
    - for all the even numbers in the list, replace the number with its square;
    - print the reverted list (the last number is the first, etc)
    - take into consideration a generic input

**7**) Write a function that takes a natural number `n` and returns the sum of all the natural numbers from 1 to `n`